.notify-container {
  width: 50px;
  height: 40px;

}
.notify-icon {
  width: 50px;
  height: 40px;
  //border: 1px solid #ee00ee;
  color: #06654E;
  font-size: 32px;
  text-align: center;
  line-height: 35px;
  position: absolute;
  top: 12px;
  right: 100px;
  cursor: pointer;
}
.notify-list {
  background: #FFFFFF;
  border: 1px solid #e3e9ed;
  border-radius: 10px;
  color: black;
  width: 400px;
  min-height: 90px;
  max-height: 500px;
  position: relative;
  top: 45px;
  right: 350px;
  z-index: 5;
  //padding: 3px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  -ms-overflow-style: none;
  overflow: scroll;

  &::-webkit-scrollbar{
    display:none;
  }

  li {
    min-height: 45px;
    border-bottom: 1px solid #ebebeb;
    padding: 15px 10px;
    font-size: 16px;
    margin: auto;

    &:first-child {
      font-size: 16px;
      font-weight: 700;
      background: #f9fafc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #1d1d1d;
    }
  }
}
.close {
  display: none;
}
.new {
  &:after {
    content: '●';
    color: orangered;
    font-size: 14px;
    position: relative;
    top: -28px;
    right: 7px;
    animation: blink-effect 1s step-end 3;
  }
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
.label {
  min-width: 40px;
  background: #eeeeee;
  border-radius: 5px;
  padding: 3px;
  margin-right: 5px;
  font-weight: 500;
  border: 1px solid #e1e1e1;
}
.confirm {
  background: #def9c4;
  border-color: #cbf4a6;
}
.cancel {
 background: #fec0c0;
  border-color: #fca2a2;
}
.read-all-btn {
  background: #50B498;
  color: #FFFFFF;
  width: 70px;
  height: 30px;
  //padding: 3px 5px;
  border-radius: 5px;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}
.read {
  background-color: rgba(50, 50, 80, 0.1); /* 배경 흐림 처리 */
  color: rgba(0, 0, 0, 0.5); /* 글씨 흐림 처리 */
  filter: blur(0.5px); /* 선택적: 흐림 효과 */
}

@media (max-width: 400px) {
  .notify-icon {
    position: inherit;
  }
}
