@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
    --green1-color: #eef2e3;
    --green2-color: #c8f169;
    --green3-color: #78c51c;
    --green4-color: #2a6f2b;
    --green5-color: #043f2e;
    --white-color: #f9f3ef;

    --header-font-color: var(--green4-color);
    --footer-font-color: var(--green4-color);
}

html {
    font-size: 16px;
    scroll-behavior: smooth; /* 부드러운 스크롤 */
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    margin: 60px auto 0; /* 상단 마진 추가, 하단 마진은 0으로 설정 */
    background-color: #F5F5DD;
    overflow-x: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; /* 스크롤 스냅 위치 설정 */
}

.hero {
    padding: 20px; /* 상하 여백 추가 */
}

.info {

}

.guest-store-list-section {

}

.info-section {

}

.food-info {
    position: relative;
}

.food-info-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    scroll-snap-align: start;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}


/* 화면 최대 너비 390px에서의 스타일 조정 */
@media (max-width: 390px) {
    .footer .emailTitle {
        font-size: 14px; /* 제목 폰트 크기 조정 */
        margin-bottom: 8px; /* 여백 조정 */
    }

    .footer .email {
        font-size: 12px; /* 이메일 폰트 크기 조정 */
        margin-bottom: 8px; /* 여백 조정 */
    }

    .footer .copyRight {
        font-size: 12px; /* 저작권 폰트 크기 조정 */
        margin-bottom: 8px; /* 여백 조정 */
    }

    .footer .footerLinks a {
        font-size: 12px; /* 링크 폰트 크기 조정 */
        margin-bottom: 4px; /* 여백 조정 */
    }
}