.preferredAreaForm {
  width: 100%;
  padding: 15px;
  margin: 20px auto;
  position: relative;
  display: block;

  .title {
    height: 65px;
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    color: #1d1d1d;
    background: linear-gradient(135deg, #f6f9f4, #e4f3da);
    border-radius: 15px 15px 0 0;
    padding: 10px 15px;
    display: flex;

    .titleText {
      margin-top: 10px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .infoWrapper {
    padding: 10px;
    border-radius: 0 0 15px 15px;
    box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, .08);
    border: solid 1px #e3e9ed;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;


      .infoList {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .area li {
        padding: 5px 0;
      }
  }
}


