#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    font-size: 20px;
    width: 80%;
    text-align: center;
    height: 80%;
    line-height: 2;
}

.calendar-header {
    display: contents;
    line-height: 1;

}

.calendar-day-header, .calendar-day, .calendar-day-empty {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    height: 72px;
    width: 90px;
}

.calendar-day-header {
    font-weight: bold;
    height: 50px;
}



#calendar .calendar-day.holiday {
    background-color: rgba(234, 97, 42, 0.5); /* 휴무일로 지정된 날짜의 배경색 */
    /*border: 3px solid #EA612A; !* 테두리 스타일 *!*/
    color: #fdfaf6; /* 텍스트 색상 */
}

.sunday{
    color: #E43414;
}

#calendar .calendar-day.today {
    /*background-color: #f0f0f0; !* Example background color for today's date *!*/
    background-color: rgba(55, 112, 49, 0.58); /* Example circle color */
    color: white;
}

/*.circle {*/
/*    display: inline-block;*/
/*    width: 35px;*/
/*    height: 35px;*/
/*    line-height: 30px;*/
/*    text-align: center;*/
/*    border-radius: 40%;*/
/*    background-color: #276221; !* Example circle color *!*/
/*    color: white;*/
/*}*/

.calendar-day-empty{
    opacity: 0.4;
}