
/* 기본 박스 모델 설정 */
* {
    box-sizing: border-box;
}

/* 컨테이너 설정 */
.list-container {
    display: flex;
    width: 1705px;
    height: 450px;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior: smooth;
    margin-top: 20px;
}

.list-container::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
}

#co2-title-img {
    height: 100px;
    margin-top: 280px;
    margin-left: -50px;
}

#end-title-img {
    height: 100px;
}

.guest-store-list-section .sub-title {
    font-size: 28px;
    color: #06654E;
}

#co2-saver-list .list-container img,#end-soon-list .list-container img {
    border-radius: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
    height: 300px;
    width: 400px;
}

.list-container .category {
    font-weight: bold;
}

.list-container .remainingTime {
    position: relative;
    font-size: 30px;
    top: -120px;
    left: -190px;
    color: white;
    font-weight: 900;
    text-shadow: 3px 4px 20px rgb(40 68 35);
}

.list-container .storeName {
    font-size: 30px;
    font-weight: 900;
    margin-left: 20px;
    margin-bottom: 10px;
}

.list-container .storePrice {
    position: relative;
    top: -50px;
    left: 300px;
    font-size: 20px;
    margin-left: 20px;
    border-bottom: 1px solid;
    font-weight: 700;
}

.list-container .productCnt {
    position: relative;
    top: -20px;
    left: 180px;
    font-size: 20px;
}



.co2-saver-section .reputation {
    font-size: 24px;
    position: relative;
    right: 625px;
    top: -15px;
    font-weight: 500;
    /*left: -125px;*/
}

.co2-saver-section .store-area {
    position: relative;
    left: -70px;
    top: -15px;
    font-size: 18px;
}

.end-time-soon-section .reputation {
    font-size: 24px;
    position: relative;
    right: 550px;
    top: -15px;
    font-weight: 500;
}
.end-time-soon-section .store-area {
    position: relative;
    top: -35px;
    font-size: 18px;
    right: -20px;
}

#co2-saver-list .list-container .storeCo2 {
    position: relative;
    top: -50px;
    right: -300px;
    color: seagreen;
    font-weight: 900;
    font-size: 30px;
    text-shadow: 3px 4px 20px rgba(0, 0, 0, 0.9);
}

#no-way-img {
    width: 1100px;
    height: 300px;
}

@media (max-width: 400px) and (max-height: 844px) {


    .list-container {
        display: flex;
        flex-direction: row;
        /* width: 100%; */
        height: auto;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px;
        margin-top: 20px;
        scroll-behavior: smooth;
        /* margin-left: 100px; */
        width: 390px;
    }

    .list-container img {
        border-radius: 30px;
        margin-right: 10px;
        margin-bottom: 20px;
        height: 300px;
        width: 400px;
        flex-shrink: 0; /* 이미지 크기가 줄어들지 않도록 설정 */
    }

    .list-container::-webkit-scrollbar {
        display: none; /* 스크롤바 숨기기 */
    }

    .storeItem {
        width: 160px;
    }

    .list-container .storeName {
        margin-top: -10px;
    }

    .end-time-soon-section .store-area {
        margin-left: -70px;
    }

    .guest-store-list-section .sub-title {
        font-size: 20px;
        text-align: center;
    }

    /*.end-time-soon-section .store-area,*/
    /*.list-container .storeName,*/
    /*.list-container .remainingTime,*/
    /*.list-container .storePrice,*/
    /*.list-container .productCnt,*/
    /*.co2-saver-section .reputation,*/
    /*.co2-saver-section .store-area,*/
    /*.end-time-soon-section .reputation {*/
    /*    position: static;*/
    /*    font-size: 16px;*/
    /*    text-align: center;*/
    /*    margin: 5px 0;*/
    /*}*/

    #no-way-img {
        width: 100%;
        height: auto;
    }

    /*#co2-saver-list .list-container img,#end-soon-list .list-container img {*/
    /*    height: 100px; !* 이미지 크기 줄이기 *!*/
    /*    width: 150px;*/
    /*    margin-right: 10px;*/
    /*}*/

#co2-title-img {
    height: 40px;
    margin-top: 20px;
    margin-left: 0;
}

    #end-title-img {
        height: 40px;
        margin-top: 20px;
        margin-left: 15px;
    }

#co2-saver-list .list-container img,
#end-soon-list .list-container img {
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

    .guest-store-list-section .sub-title {
        font-size: 20px; /* 텍스트 크기 조정 */
        margin-left: 60px;
        display: none;
    }

    .list-container .remainingTime,
    .list-container .storeName,
    .list-container .storePrice,
    .list-container .productCnt,
    .co2-saver-section .reputation,
    .end-time-soon-section .reputation,
    .end-time-soon-section .store-area {
        font-size: 16px; /* 텍스트 크기 줄이기 */
    }

    #co2-saver-list .list-container .storeCo2 {
        position: relative;
        top: -80px;
        right: -55px;
        color: #e0e4e9;
        font-weight: 900;
        font-size: 30px;
        text-shadow: 3px 4px 20px rgba(0, 0, 0, 0.9);
    }

    .list-container .remainingTime {
        position: relative;
        top: -69px;
        left: -160px;
        color: white;
        font-weight: 900;
        text-shadow: 3px 4px 20px rgb(40 68 35);
    }

    .end-time-soon-section .store-area {
        margin-left: -300px;
        top: -10px;
        font-size: 12px;
    }

    .list-container .productCnt {
        position: relative;
        top: -170px;
        left: -25px;
        /* font-size: 20px; */
        right: 30px;
        color: #ffe7b9;
        font-weight: 800;
        text-shadow: 0px 0px 5px black;
    }

    .list-container .storePrice {
        position: relative;
        top: 7px;
        left: 7px;
        font-size: 16px;
        margin-left: 20px;
        border-bottom: 1px solid;
        font-weight: 700;
        }



    #no-way-img {
        width: 100%;
        height: auto;
    }
}
