.container {
    width: 80%;
    margin: 0 auto;
}

.none {
    display: none;
}

/* header .logo {
    font-size: 24px;
    font-weight: bold;
} */

.margarine-regular {
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header .logo-img {
    width: 70px;
    height: 70px;
}
header .logo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.input-area {
    padding: 50px 0;
    text-align: center;
}

section.input-area .container {
    width: 270px;
}

section.input-area .container h2 {
    margin-bottom: 15px;
    font-weight: 500;
}

section.input-area .container input {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 10px;
    border: 1px solid var(--green1-color);
    border-radius: 10px;
    background-color: var(--white-color);
}

section.input-area .container .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.input-area .container button {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: var(--header-font-color);
    color: var(--white-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

section.input-area .container button#prev-btn {
    margin-right: 10px;
}

section.info .container .right {
    flex-grow: 1;
    height: 500px;
    width: 200px;
    background-color: var(--green1-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.info .container .right .store-signup {
    width: 200px;
    height: 50px;
    background-color: var(--header-font-color);
    color: var(--white-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer {
    background-color: var(--white-color);
    color: var(--footer-font-color);
    text-align: center;
    padding: 20px 0;
}
