
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.registration {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
}

.registration h2 {
  font-weight: bolder;
  font-size: larger;
  margin-top: 30px;
  margin-bottom: 60px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration #category{
  width: 100%;
  height: 30px;
  margin-bottom: 40px;
}

.btn-approval {
   box-shadow:inset 0px 1px 0px 0px #a4e271;
   background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
   background-color:#89c403;
   border-radius:6px;
   border:1px solid #74b807;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-size:15px;
   font-weight:bold;
   padding:6px 24px;
   text-decoration:none;
   text-shadow:0px 1px 0px #528009;
  position: relative;
  left: 25%;
  margin-bottom: 100px;
}
.btn-approval:hover {
   background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
   background-color:#77a809;
}
.btn-approval:active {
   position:relative;
   top:1px;
}

.info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}

.related-images {
  display: flex;
  padding: 20px;
  position: relative;
  
}

.related-image1 {
  width: 600px;
  height: 400px;
  position: relative;
  left: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.related-image2 {
  width: 600px;
  height: 400px;
  position: relative;
  top: 200px;
  right: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.related-info {
  width: 400px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding-top: 120px;
}

.related-info h2 {
  font-size:2em;
  font-weight: bolder;
  margin-bottom: 30px;
}

.related-info p {
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 20px;
} 

.slide-container {
  position: relative;
  width: 80%;
  margin: 30px auto 80px;
  border-radius: 10px;
  background-color: #fff;
  border-radius: 10px;
  
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.7); */
}

.slide {
  min-width: 33.33%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0,0,0, 0.7); */
  text-align: center;
}

.slide-image {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
  overflow: hidden;  
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.slide h3{
  font-size: 2em;
  text-align: left;
  font-weight: bolder;
  margin-bottom: 15px;
  text-decoration: underline;
}

.slide p{
  font-size: 1em;
  font-weight: bolder;
  text-align: left;
}