$font-pretendard: "Pretendard Variable", Pretendard, sans-serif;
$table-width: 1580px;

.table-section {
  margin: 20px auto 50px;
  width: $table-width;
  min-height: 500px;
  padding: 20px 10px;
  border-radius: 20px;
  font-family: $font-pretendard;
  //overflow: auto;

  .table-interaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
    flex-wrap: nowrap;
    margin: 5px auto;
    //border: 1px solid deepskyblue;

    .left-interactions {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .date-input-container {
        display: flex;
        flex-direction: row;
        input {
          font-size: 15px;
          color: var(--color-gray-700);
          width: 145px;
          height: 33px;
          margin: 5px;
          border: 1px solid rgba(0,0,0,0.2);
          border-radius: 6px;
          padding: 5px;

          &:focus-visible {
            outline-color: #7bde9a;
          }
        }
        span {
          line-height: 30px;
          padding: 5px;
        }
      }
      .status-btn-container {
        //border: 1px solid rebeccapurple;
        display: flex;
        flex-direction: row;

        button {
          font-family: $font-pretendard;
          font-size: 16px;
          font-weight: 500;
          color: var(--color-gray-800);
          padding: 7px 30px;
          background: #ebebeb;
          border: none;
          //box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
          border-radius: 6px;
          margin: 3px 3px 3px 10px;

          &:last-child {
            background: #ebebeb;
            &:hover {
              color: #fff;
              background: #ff525c;
              box-shadow: 0 2px 8px -1px rgba(#151924, .22);
            }
          }
          &:hover {
            color: #fff;
            background: #10da72;
            box-shadow: 0 2px 8px -1px rgba(#151924, .22);
          }
        }
      }
      }
  }

  .table-content {
    font-family: $font-pretendard ;
    font-size: 14px;
    display: table;
    border-collapse: collapse;
    margin: 30px 0;
    overflow: auto;

    tr {
      border-bottom: 1px solid rgba(0,0,0,0.1);
      height: 40px;
      line-height: 40px;
      display: flex;
      align-items: center;
      color: rgb(60,60,60);
      &:nth-child(even) {
        background: #f2f4f4;
      }
      th {
        font-size: 16px;
        font-weight: 700;
        color: #434343;
      }

      td {
        display: flex;
        align-items: center;
        overflow: hidden;
        padding-left: 10px;

        &.center-align {
          justify-content: center;
        }

        &.left-align {
          justify-content: flex-start;
          padding-left: 5px;
        }

        img {
          width: 38px;
          height: 38px;
          object-fit: cover;
          //border: 1px solid violet;
        }
      }
    }
  }
  .tans-page-container {
    display: flex;
    flex-direction: row;
    width: 20%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    line-height: 24px;
    //border: 1px solid orange;

    button {
      border: none;
      background: transparent;
      font-size: 24px;
      padding: 0;
      color: var(--color-gray-400);
      width: 30px;
      cursor: pointer;

      &:hover {
        color: var(--color-gray-700);
      }
    }
  }
}
