<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.nmfw.foodietree.domain.store.mapper.StoreMyPageMapper">

    <select id="getStoreMyPageInfo" resultType="StoreMyPageDTO">
        SELECT
            store_id,
            store_name,
            address,
            store_img,
            category,
            approve,
            price,
            product_cnt,
            open_at,
            closed_at,
            business_number,
            store_contact
        FROM
            tbl_store
        WHERE
            store_id = #{store_id}
    </select>

    <insert id="updateProductAuto">
        INSERT INTO tbl_product
            (store_id, pickup_time, product_upload_date)
        VALUES
            (#{storeId}, #{closedAt}, now())
    </insert>

    <update id="cancelProductByStore">
        UPDATE tbl_product
        SET canceled_by_store_at = now()
        WHERE store_id = #{storeId}
        AND DATE(pickup_time) = #{pickupTime}
    </update>

    <select id="getStoreMyPageCalendarModalInfo" resultType="StoreMyPageCalendarModalDto">
        SELECT
            p.pickup_time,
            s.open_at,
            s.closed_at,
            s.product_cnt,
            p.canceled_by_store_at
        FROM
            tbl_store s
        LEFT JOIN
        tbl_product p ON p.store_id = s.store_id AND DATE(p.pickup_time) = #{date}
        WHERE
        s.store_id = #{storeId}
        LIMIT 1
    </select>

    <select id="getAllStore" resultType="StoreCheckDto">
        SELECT DISTINCT
            store_id,
            store_name,
            product_cnt,
            open_at,
            closed_at
        FROM
            tbl_store
    </select>

    <insert id="setHoliday">
        INSERT INTO tbl_store_holidays
            (store_id, holidays)
        VALUES
            (#{storeId}, #{holidays})
    </insert>

    <delete id="undoHoliday">
        DELETE FROM
            tbl_store_holidays
        WHERE
            store_id = #{storeId}
        AND holidays = #{holidays}
    </delete>

    <select id="getHolidays" resultType="StoreHolidayDto">
        SELECT
            store_id,
            holidays
        FROM
            tbl_store_holidays
        WHERE
            store_id = #{storeId}
    </select>

    <select id="getProductCntByDate" resultType="ProductInfoDto">
        SELECT
            p.pickup_time,
            p.product_upload_date,
            p.canceled_by_store_at,
            r.reservation_time,
            r.cancel_reservation_at,
            r.picked_up_at
        FROM
            tbl_product p
        LEFT OUTER JOIN
            tbl_reservation r ON p.product_id = r.product_id
        WHERE
            p.store_id = #{storeId}
        AND DATE(product_upload_date) = #{date}
    </select>

    <select id="countPickedUpProductsByDate" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM tbl_product p
        JOIN tbl_reservation r ON p.product_id = r.product_id
        WHERE p.store_id = #{storeId}
        AND DATE(r.picked_up_at) = #{date}
    </select>
</mapper>