.scheduleDetailModal {

  .modalHeader {
    font-weight: 700;
    font-size: 24px;
  }

  .modalBody {

  }

  .modalFooter {

    .holidaySetBtn {
      border-radius: 15px;
      background-color: rgba(234, 97, 42, 0.7);
      //color: #FFFFFF;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      padding: 15px 35px;
      margin-top: 26px;

      :active {
        color: #666;
        box-shadow: inset 4px 4px 3px #c5c5c5, inset -4px -4px 3px #ffffff;
      }
    }



    .holidayUndoBtn {
      border-radius: 13px;
      background-color: rgba(55, 112, 49, 0.5);
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      padding: 15px 35px;
      margin-top: 26px;

      &:active {
        color: #666;
        box-shadow: inset 2px 2px 2px rgba(197, 197, 197, 0.74), inset -2px -2px 2px rgba(197, 197, 197, 0.74);
      }
    }



  }


}