.modalContent {
  font-size: 16px;

  .filterGroup {
    margin-bottom: 15px;

    label {
      font-size: 18px;
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
      text-align: left;
    }

    .options {
      font-size: 14px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .option {
      padding: 0 10px;
      border: 1px solid #ccc;
      border-radius: 15px;
      cursor: pointer;
      background-color: #f9f9f9;
      transition: background-color 0.3s;

      &:not(.selected):hover {
        background-color: #e0e0e0;
      }

      &.selected {
        background-color: #4caf50;
        color: white;
        border-color: #4caf50;
      }
    }

    .dateRange {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
      }
    }
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;

    .resetButton {
      width: 40px;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .resetIcon {
        font-size: 30px;
      }

      .resetText {
        user-select: none;
        font-size: 12px;
      }
    }

    button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;

      &.applyButton {
        font-size: 16px;
        background: #4caf50;
        color: white;
      }
    }
  }
}