.myPageArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #111;

  .container {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 20px auto;
    display: flex;
  }

  .content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}