.modal {
  font-size: 18px;
  display: block; // 모달 숨기기
  position: fixed; // 고정 위치
  z-index: 1; // 다른 요소들 위에
  left: 0;
  top: 0;
  width: 100%; // 전체 너비
  height: 100%; // 전체 높이
  background-color: rgb(0, 0, 0); // 검정 배경
  background-color: rgba(0, 0, 0, 0.4); // 불투명한 배경

  .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    background-color: #fefefe;
    margin: 15% auto; // 화면 가운데 배치
    border: 1px solid #888;
    width: 500px; // 너비 조절
    border-radius: 15px;
    line-height: 2;
    overflow: hidden;
    max-height: 80vh; // 모달 최대 높이 설정

    .close {
      color: #aaa;
      font-size: 30px;
      position: sticky;
      top: 0;
      background: #fff;
      padding: 10px 10px 0;
      z-index: 1000; // 높은 z-index로 다른 내용보다 위에 표시
      cursor: pointer;
      display: flex;
      justify-content: flex-end;

      span{
        padding-right: 13px;

        .closeBtn{
          background-color: #fff;
          border-radius: 25px;
          padding: 5px;
          height: 35px;
          width: 35px;

          &:hover,
          &:focus {
            color: rgba(45, 45, 45, 0.48);
            text-decoration: none;
            cursor: pointer;
            background-color: rgba(206, 206, 206, 0.61);
            transition: 0.3s;
          }
        }
      }
    }

    .modalInnerContent {
      padding: 0 20px 30px;
      overflow-y: auto; // 세로 스크롤 활성화
      max-height: calc(70vh - 40px); // 닫기 버튼 높이 제외한 최대 높이 설정
      text-align: center;
    }

    .modalFooter{
      padding-top: 10px;
    }
  }
}

@media (max-width: 400px) {
  .modal {
    font-size: 18px;
    display: block; // 모달 숨기기
    position: fixed; // 고정 위치
    z-index: 1; // 다른 요소들 위에
    left: 0;
    bottom: 0; // 화면 아래에 위치
    width: 100%; // 전체 너비
    height: auto; // 높이를 콘텐츠에 맞춤
    overflow: auto; // 스크롤 가능
    background-color: rgba(0, 0, 0, 0.4); // 불투명한 배경

    .modalContent {
      color: black;
      background-color: #fefefe;
      margin: 0 auto; // 가운데 정렬
      padding: 20px;
      border: 1px solid #888;
      width: 100%; // 전체 너비
      border-radius: 15px 15px 0 0; // 모서리 둥글게
      line-height: 2;
      position: absolute;
      bottom: 0; // 화면 아래에 위치

      // 애니메이션 추가
      transform: translateY(100%);
      animation: slide-up 0.7s forwards;

      @keyframes slide-up {
        from {
          transform: translateY(100%);
        }
        to {
          transform: translateY(0);
        }
      }

      .close {
        color: #aaa;
        font-size: 29px;
        font-weight: bold;
        padding: 0;
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 1000;

        &:hover,
        &:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }

        span{
          padding-right: 0;
        }
      }

      .modalInnerContent {
        padding: 0 20px;
        overflow-y: auto; // 세로 스크롤 활성화
        max-height: calc(70vh - 70px); // 닫기 버튼 높이 제외한 최대 높이 설정
        text-align: center;
      }
    }
  }
}
