
.sign-up-page {
  // 페이지 전체 스타일
  .container {
    // 컨테이너 스타일
    .logo {
      // 로고 스타일
    }

    .sign-up-section {
      width: 300px;
      border-radius: 10px;
      margin: 100px auto;
      border: solid 0.8px #9d9da4;
      color: #2e2e2f;
      display: block;
      box-shadow: 1px 1px 6px 1px rgba(157, 157, 164, 0.2);

      .user-type-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .user-type-button {
          padding: 15px;
          width: 50%;
          border-radius: 10px;
          border: none;
          cursor: pointer;
          background-color: #ffffff;
          color: #aea3a3;
          font-size: 16px;
          outline: none;
          transition: background-color 0.3s ease;

          &.active {
            background-color: #fff;
            color: #043f2e;
            font-weight: 900;

          }

          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
  }
}
  .sub-login {
    padding: 5px 0;
    display: block;
    width: 70px;
    margin: 0px auto -30px;

    &:hover {
      transform: translateY(-3px);
      transition: transform 0.3s ease;
      font-weight: 700;
      background-color: #fceccd;
      border-radius: 20px;
      width: 90px;
      box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
      0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede
    }
  }

