<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.nmfw.foodietree.domain.reservation.mapper.ReservationMapper">

    <update id="cancelReservation">
        UPDATE tbl_reservation
        SET cancel_reservation_at = NOW()
        WHERE reservation_id = #{reservationId}
    </update>

    <update id="completePickup">
        UPDATE tbl_reservation
        SET picked_up_at = NOW()
        WHERE reservation_id = #{reservationId}
    </update>

    <select id="findByReservationId" resultType="ReservationStatusDto">
        SELECT
            r.reservation_time,
            r.cancel_reservation_at,
            r.picked_up_at,
            p.pickup_time
        FROM tbl_reservation r
        JOIN tbl_product p ON r.product_id = p.product_id
        WHERE reservation_id = #{reservationId}
    </select>

    <select id="findModalDetailByReservationId" resultType="ReservationModalDetailDto">
    SELECT
        r.reservation_id,
        r.product_id,
        r.customer_id,
        r.reservation_time,
        r.cancel_reservation_at,
        r.picked_up_at,
        p.store_id,
        p.pickup_time,
        s.store_name,
        s.category,
        s.address,
        s.price,
        s.store_img,
        c.nickname,
        c.profile_image
    FROM
        tbl_reservation r
    JOIN tbl_product p ON r.product_id = p.product_id
    JOIN tbl_store s ON p.store_id = s.store_id
    JOIN tbl_customer c ON r.customer_id = c.customer_id
    WHERE r.reservation_id = #{reservationId}
    </select>

    <insert id="createReservation">
        INSERT INTO tbl_reservation
            (customer_id, product_id)
        VALUES (#{customerId}, #{productId})
    </insert>

    <select id="findByStoreIdLimit" resultType="org.nmfw.foodietree.domain.reservation.dto.resp.ReservationFoundStoreIdDto">
        SELECT
            store_id,
            product_id,
            TIMESTAMPDIFF(SECOND, NOW(), pickup_time) as 'sec_left'
        FROM
            tbl_product
        WHERE 1=1
        AND store_id = #{storeId}
        AND TIMESTAMPDIFF(SECOND, NOW(), pickup_time) > 0
        AND canceled_by_store_at IS NULL
        LIMIT #{cnt}
    </select>
</mapper>