<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.nmfw.foodietree.domain.store.mapper.StoreMyPageEditMapper">

    <update id="updateStoreInfo">
        UPDATE tbl_store
        <set>
            <choose>
                <when test="type == 'store_img'">
                    store_img = #{value}
                </when>
                <when test="type == 'password'">
                    password = #{value}
                </when>
                <when test="type == 'business_number'">
                    business_number = #{value}
                </when>
            </choose>
        </set>
        WHERE store_id = #{storeId}
    </update>

    <update id="updatePrice">
        UPDATE tbl_store
        SET price = #{price}
        WHERE store_id = #{storeId}
    </update>

    <update id="updateOpenAt">
        UPDATE tbl_store
        SET open_at = #{openAt}
        WHERE store_id = #{storeId}
    </update>

    <update id="updateClosedAt">
        UPDATE tbl_store
        SET closed_at = #{closedAt}
        WHERE store_id = #{storeId}
    </update>

    <update id="updateProductCnt">
        UPDATE tbl_store
        SET product_cnt = #{productCnt}
        WHERE store_id = #{storeId}
    </update>
</mapper>