<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- camelCase snake_case의 자동 변환 설정 -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <typeAliases>
    <typeAlias type="org.nmfw.foodietree.domain.store.entity.Store" alias="store"/>
    <typeAlias type="org.nmfw.foodietree.domain.product.entity.Product" alias="product"/>
  </typeAliases>
  <mappers>
    <mapper resource="mappers/StoreMapper.xml" />
      <mapper resource="mappers/LoginIdCheckMapper.xml"/>
      <mapper resource="mappers/ProductMapper.xml"/>
  </mappers>

</configuration>