.info {
  width: 100%;

  .infoBox {
    padding: 30px 0;

    .title {
      position: relative;
      display: block;
      margin: 20px 0;
      padding: 15px;
      border-radius: 15px;

      .titleText {
        height: 65px;
        font-size: 19px;
        font-weight: 700;
        line-height: 20px;
        color: #1d1d1d;
        background: linear-gradient(135deg, #f6f9f4, #e4f3da);
        border-radius: 15px 15px 0 0;
        padding: 10px 15px;
        display: flex;
        //align-items: center;

        span {
          margin-top: 10px;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }

    .infoWrapper {
      padding: 10px;
      border-radius: 12px;
      box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, .08);
      border: solid 1px #e3e9ed;
      background-color: #fff;
      margin-bottom: 10px;
      border-radius: 0 0 15px 15px;
      height: 260px;

      .reservationList {
        border-radius: 15px;
        flex-wrap: wrap;
        height: 72px;
        margin: 0 7px 10px 7px;

        > li:last-child {
          margin-bottom: 15px;
        }

        .reservationItem {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 5px 0;
          padding: 10px;
          cursor: pointer;

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          }

          &.canceled {
            border: solid 2px #E68a8c;
            border-radius: 15px;
          }

          &.reserved {
            border: solid 2px #89b449;
            border-radius: 15px;
          }

          &.pickedup {
            border: solid 2px #407f3e;
            border-radius: 15px;
          }

          &.noshow {
            border: solid 2px gray;
            border-radius: 15px;
          }

          .item {
            display: flex;
            align-items: center;

            .imgWrapper {
              position: relative;

              .imgBox {
                width: 50px;
                height: 50px;

                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 5px;
                  object-fit: cover;
                  transition: transform 0.5s;
                }
              }

              i {
                position: absolute;
                right: -5px;
                bottom: 0;

                &.canceled {
                  color: red;
                }

                &.done {
                  color: green;
                }

                &.loading {
                  color: blue;
                  animation: spin 3s linear infinite;
                }
              }
            }

            span {
              margin-left: 10px;
            }
          }

          .reservationStatus {
            margin-left: 20px;
            width: 62%;
            display: flex;
            justify-content: space-between;
          }

          .reservationNickname {
            span {
              font-size: 13px;
              position: relative;
              left: -7px;
            }
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}