
.edit {
  width: 70%;
  padding: 10px;

  .edit-box {
    padding: 15px;
  }

  .title {
    position: relative;
    display: block;
    border-radius: 15px 15px 0 0;

    .title-text {
      height: 65px;
      font-size: 19px;
      font-weight: 700;
      line-height: 20px;
      color: #1d1d1d;
      background: linear-gradient(135deg, #f6f9f4, #e4f3da);
      border-radius: 15px 15px 0 0;
      padding: 10px 15px;
      display: flex;
      span{
        margin-top: 10px;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

.edit-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(204, 204, 204, 0.83);
  border-top: none;
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, .08);
  background-color: #fff;
  box-sizing: border-box;
}

.input-area {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 0 30px 0;
  .input-wrapper {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
    .icon {
      margin-right: 10px;
    }
  }
}

@media (max-width: 400px) {
  .edit {
    width: 100%;
    .edit-wrapper {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}