a {
  color: inherit;
  text-decoration: none;
}

li {
  margin: 5px 0;
  opacity: .9;
  /*width: inherit;*/
}

.container {
  margin: 10px auto;
  width: 100px;
  border: 1px solid white;
  position: relative;
  height: 100px;
}

.profile {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 0 17px;
  background-color: #fff;
  box-sizing: border-box;
}

.nav {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 21px;
  text-align: center;
  width: 335px;
  margin-right: 10px;
}

.nav-link {
  width: 335px;
  padding-top: .6rem;
  padding-bottom: .6rem;
  border-radius: .75rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
  &:hover {
    background-color: rgb(224, 238, 224);
  }
}

.stats {
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-direction: column;

  div {
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    margin-top: 20px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
      font-size: 19px;
    }
    div {
      font-size: 16px;
      /*box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);*/
      background: linear-gradient(135deg, #fdfcfc, #f1f8ee);
      /*border: 2px solid #d4f593;*/
      margin-top: 10px;
    }
  }
}

@media (max-width: 400px) {
  .profile {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    left:-100%;
    transition: .40s ease-in-out 0s;
    &.on {
      left: 0;
    }
  }
}