$upload-w: 568px;
$upload-h: 360px;
$color-main: #43e97b;
$color-light: #e3ffef;

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  height: $upload-h;
  max-width: $upload-w;
  margin: 0 auto 30px;
  padding: 10px;
  border: 1px solid var(--color-gray-200);
  border-radius: 10px;
  background: #f6fafa;
  color: #aaa;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;

  input[type="file"] {
    display: none;
  }
  label {
    cursor: pointer;
    color: #bbb;
    width: 100%;
    height: $upload-h;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space:pre-wrap;
    text-align: center;
    //border: 1px solid red;

  }
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc($upload-h - 5px);
  justify-content: center;
  align-content: center;
  //background: var(--color-gray-300);

  img {
    width: calc($upload-w - 4px);
    height: calc($upload-h - 10px);
    object-fit: cover;
    object-position: center;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $upload-h;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }
}

.chips {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 75%;
  margin: 0 auto 10px;
  gap: 15px;

  label.chip{
    display: block;
    width: 100px;
    font-size: 1rem;
    color: var(--color-gray-400);
    font-weight: 400;
    background: #ffffff;
    border: 1px solid var(--color-gray-400);
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    transition: 300ms;

    &:hover {
      color: #ffffff;
      font-weight: 500;
      border: 1px solid $color-main;
      background: $color-main;
    }
  }

  label.picked {
    color: $color-main;
    font-weight: 500;
    border: 1px solid $color-main;
    background: $color-light;
  }

  .radioInput {
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 0;
  }

}


@media (max-width: 400px) {

  .image-upload {
    width: 100%;
    height: 250px;
    padding: 5px;

    label {
      font-size: 1rem;
    }

    .image-preview {
      width: 100%;
      height: 100%;

      label{
        width: 100%;
        height: 100%;
        line-height: 20px;
      }
      img {
        width: 100%;
        height: 100%;
        margin: auto auto;
      }
    }

  }

  .chips {
    width: 96%;
    margin: 0 5px 20px;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    label.chip {
      width: calc(80vw / 3);
      height: 40px;
      //margin: 0 auto;
      //padding: 10px;
      font-size: 0.9rem;
      text-align: center;
    }
    .radioInput {

    }
  }

}
