$color-blur: #6bccb1;

.bodyContainer {
  background: #fff;
  padding: 30px 0;
}
.progressContainer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  position: relative;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  width: calc(100% / 3); /* Adjust based on number of steps */
}
.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.circle {
  width: 18px;
  height: 18px;
  border: 3px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.line {
  width: 100%;
  height: 5px;
  border: 0;
  background: #ccc;
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
  z-index: 0;
}
.checkmark {
  color: #fff;
}

.label {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #424242;
}

.completed {
  .progress {

    .circle {
      background: $color-blur;
      border-color: $color-blur;
    }
    .line {
      background: $color-blur;
    }
  }
}

.current .circle {
  background: $color-blur;
  border-color: $color-blur;
}

@media (max-width: 400px) {
  .bodyContainer {
    padding: 10px;
  }
  .progressContainer {
    width: 88%;
  }
  .circle {
    width: 16px;
    height: 16px;
  }
}