.category-btn {
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.btnImg {
  width: 60px; 
  height: 50px; 
}

.btnImg img {
  width: 100%;
  object-fit: cover;
}

.btnText {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  // color: #7CAF74;
}
