.list {
  margin: 0 auto;
  position: relative;
  inline-size: 70%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-top: solid 1px #e7e7e7;
}

.storeList {
  padding: 20px 20px 0 20px;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

.categoryContainer {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%;
  gap: 20px;
}

.categoryItem {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  height: 250px;
}

.categoryImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  border: 1px solid #cecece;
}

.categoryItem p {
  height: 15%;
  display: flex;
  align-items: center;
  padding: 20px 0 10px 10px;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  font-size: 20px;
}

.storePrice { 
  font-size: 15px;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.productCnt {
  font-size: 15px;
  position: absolute;
  bottom: 20px;
  right: 10px;
}



// 수량 0일 때 회색처리

.categoryItem {
  position: relative;
  overflow: hidden;  
}

.categoryImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  border: 1px solid #cecece;
  transition: opacity 0.3s ease; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 72%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  opacity: 0; 
  transition: opacity 0.3s ease;  
}

.categoryItem.low-stock .overlay {
  opacity: 1;
}

.categoryItem.low-stock .categoryImage {
  opacity: 0.5; 
}


@media (max-width: 1200px) {
  .categoryItem {
    flex: 1 1 calc(33.333% - 20px);
  }
}

@media (max-width: 800px) {
  .categoryItem {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 400px) {
  .list{
    margin: 0 20px;
    width: 90%;
  }
  .categoryItem {
    flex: 1 1 100%;
  }
}
