.nav{
  width: 80%;
  // background-color: red;
  margin: 0 auto;
}
.food-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.category-btn {
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.btnImg {
  width: 60px; 
  height: 50px; 
}

.btnImg img {
  width: 80%;
  object-fit: cover;
  transform-origin: top center;
  transition: transform 0.3s ease;
}
.btnImg img:hover{
  width: 85%;
  transform: scale(1.1);
}

.btnText {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #0d0d0d;
}
