/* 기본 박스 모델 설정 */
* {
  box-sizing: border-box;
}

/* 기본 nav 스타일 */
.searchStoreSection {
  display: none;
}

/* food-nav 스타일 */
.food-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

/* category-btn 스타일 */
.category-btn {
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  margin: 5px;
}

/* btnImg 스타일 */
.btnImg {
  width: 60px; 
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* btnImg img 스타일 */
.btnImg img {
  width: 80%; // 부모 요소의 너비에 맞추기
  height: auto; // 비율 유지
  object-fit: cover;
  transform-origin: top center;
  transition: transform 0.3s ease;
}

.btnImg img:hover {
  transform: scale(1.1);
}

/* btnText 스타일 */
.btnText {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #0d0d0d;
}


@media (max-width: 400px) {
  .nav {
    display: block; 
    width: 100%;
    margin-top: 60px;
  }

  .food-nav {
    margin: 10px 10px 0 10px;
  }

  .btnImg {
    width: 40px;
    height: auto;
    margin-bottom: 15px;
  }

  .btnText {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .searchStoreSection {
    display: flex;
    background-color: #F5F5DD;
    border-radius: 0 0 25px 25px;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(167, 167, 167, 0.2);
  }

  .searchStoreSection input {
    width: 95%;
    background: #afcba7;
    border: none;
    border-radius: 20px;
    padding: 10px 35px;  /* 여백을 주어 아이콘과의 간격 조정 */
    
    &::placeholder {
      color: #000000;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .magnifyClickBtn {
    position: absolute;
    left: 10px;
    height: 20px;
    width: 20px;
  }

  .magnifyIcon {
    color: #06654E;
    height: 20px;
    margin-left: 9px;
  }
}
