.container {
  padding: 10px 15px;
  background: rgba(245, 245, 221);
  width: 300px;
  position: absolute;
  left: 150px;
  top: 12px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #4a7243;
  text-align: left;
  cursor: pointer;
}

.areaList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.areaList.expanded {
  max-height: 500px; /* 충분히 큰 값으로 설정 */
  opacity: 1;
}

.areaItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: #f1f1f1;
  }
}

.areaName {
  font-size: 12px;
  font-weight: normal;
  color: #555;
  margin-right: 5px;
}

.areaAlias {
  font-size: 10px;
  font-weight: bold;
  color: rgb(68, 132, 68);
}

// @media (max-width: 400px) {
//   .container {
//     width: 210px;
//     left: 25px;
//     top: 12px;
//   }
// }