.list {
  margin: 0 auto;
  position: relative;
  // background-color: beige;
  inline-size: 70%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-top: solid 1px #e7e7e7;
}

.list .title {
  padding: 20px 20px 0 20px;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

.favorite-store-list {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 10px;
  // background-color: skyblue;
}

.storeItem {
  flex: 0 0 25%; 
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  height: 250px;
  // background-color: aquamarine; 

  .category {
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    top: 20px;
    left: 10px; 
    background-color: #7CAF74; 
    padding: 5px 13px 5px 10px; 
    border-radius: 0 20px 20px 0;
    font-size: 12px; 
    color: #fff; 
    font-weight: bold;
    z-index: 10; 
  }
}

.storeItem img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  border: 1px solid #cecece;
}

.storeItem p {
  height: 15%;
  display: flex;
  align-items: center;
  padding: 10px 0 10px 10px;
  position: absolute;
}

.storeItem span {
  position: absolute;
  bottom: 10px;
}

.storeItem .categoryName {
  font-size: 20px;
  font-weight: 600;
}

.storeItem .storePrice {
  font-size: 15px;
  left:20px;
}

.storeItem .productCnt{
  font-size: 15px;
  right: 20px;
}


@media (max-width: 400px) {
  .list .title{
    padding: 20px 20px 5px 0;
  }

}