.productDetailModal {
  display: flex;
  justify-content: space-evenly;

  .infoBox {
    line-height: 3;
    width: 51%;
    height: fit-content;

    .storeInfo {
      display: flex;
      justify-content: space-between;
      border: 1px solid rgb(231, 231, 231);
      border-radius: 8px;
      //padding: 16px;
      margin: 8px 0px;
      position: relative;
      height: 144px;

      .productImg {
        width: 70%;
        height: 100%;
        border-radius: 8px;
        object-fit: contain; // 사진 깨지는데 어떻게 보일 지 정해야함
      }

      .storeImg {
        width: 30%;
        height: 100%;
        border-radius: 8px;
        object-fit: contain; // 사진 깨지는데 어떻게 보일 지 정해야함
      }

      .fromWhere {
        font-weight: 700;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        right: 13px;
        bottom: -10px;
      }
    }

    .accountInfo {
      display: flex;
      justify-content: space-between;
      border: 1px solid rgb(231, 231, 231);
      border-radius: 8px;
      padding: 16px;
      margin: 8px 0px;
    }

    .productDetail {
      border: 1px solid rgb(231, 231, 231);
      border-radius: 8px;
      padding: 16px;
      margin: 8px 0px;
      display: flex;
      flex-direction: column;
      align-items: baseline;

      .map {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;

        .mapImg {
          height: 185px;
          width: 100%;
          position: relative;
          margin-bottom: 4px;
          background-color: #2e2e2f;
        }
        .storeAddress{
          margin-top: 5px;
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }

      .pickUpTimeInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .productInfo {
        width: 100%;

        .price {
          display: flex;
          justify-content: space-between;
        }

        .productDes {
          display: flex;
          justify-content: space-between;
          .productTextDesc{
            width: 70%;
            text-align: justify;
          }
        }

      }
    }
  }

  .paymentBox {


    line-height: 3;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0px;
    height: fit-content;

    div{
      padding: 0 5px;
      margin-bottom: 8px;
    }

    svg{
      padding-right: 5px;
    }

    .productAmtAdjustBtn {
      display: flex;
      justify-content: space-evenly;

      .adjustBtn {
        border: none;
        border-radius: 35px;
        width: 35px;
        height: 35px;
        margin: auto 0;
      }
    }


    .pay {

      .saving {
        display: flex;
        align-items: center;
        padding-left: 10px;
        margin-bottom: 7px;
      }

      .reservationBtn {
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
        background-color: rgba(89, 152, 90, 0.8);

        box-shadow: transparent 0px 0px 0px 1px inset;
        color: #fff;
        font-weight: 700;
        padding: 6px 15px;
      }
      .reservationBtn:hover {
        background-color: rgba(87, 173, 88, 0.98);

      }

      .reservationBtnSoldout{
        border-radius: 15px;
        background-color: #d3d3d3;
        color: #000;
        box-shadow: transparent 0px 0px 0px 1px inset;
        font-weight: 700;
      }
    }

    .orderSum {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      width: 347px;
    }

    .promoCode {
      display: flex;
      align-items: center;
    }

    .billSection {
      padding: 0 9px;

      .originPrice {
        display: flex;
        justify-content: space-between;

      }

      .discount {
        display: flex;
        justify-content: space-between;

      }

      .totalBill {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
      }
    }
  }
}

.sectionLine {
  width: 100%;
  height: 1px;
  margin: 0px;
  border: none;
  background: rgb(231, 231, 231);
}

@media (max-width: 400px) {
  .productDetailModal{
    .infoBox{
        width: 100%;
      //outline: 2px solid red;
      margin-bottom: 35px;
    }
  }
}