.modal-content {
  .modal-header {
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 0;
    color: black;

    .wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); // 텍스트 그림자 추가

      button {
        border: none;
        background: none;
        position: relative;
        padding: 0;
        margin: 0;
        color: white;
        opacity: 0.8;

        i {
          font-size: 21px;
          position: absolute;
          left: 0;
          top: 0;
          color: white;
        }
      }

      &.info {
        display: block;
        margin-top: 60px;

        .store-info {
          display: flex;
          align-items: center;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); // 텍스트 그림자 추가

          .product-cnt {
            display: flex;
            width: 60px;
            height: 30px;
            background-color: #1d1d1d;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            text-shadow: none;
            margin-bottom: 15px;
            color: white;
            font-size: 12px;
          }

          .img-box {
            margin-right: 15px;
            width: 48px;
            height: 48px;
          }

          h6 {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }
    }
  }

  .modal-body {
    .detail {
      border-bottom: 1px solid #dee2e6;

      .prod-info-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .prod-info {
          div {
            margin-bottom: 7px;
          }

          &:last-child {
            div {
              display: flex;
              justify-content: right;
            }
          }
        }
      }
    }

    .detail {
      color: #555;

      .prod-rate {
        i {
          color: #ffb700;
        }
      }

      .pickup-time {
        i {
          color: #999;
        }
      }

      .prod-price {
        font-size: 12px;
        color: #777777;
      }

      .prod-discount {
        font-size: 18px;
        font-weight: 600;
        color: var(--header-font-color);
      }

      .wrapper {
        margin: 1rem 0;
        display: flex;

        i {
          margin-right: 10px;
        }

        .desc-area {
          svg {
            margin-right: 10px;
            width: 80px;
          }

          p {
            display: flex;
            align-items: center;
          }
        }

        .rate-area {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 10px;

          p {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .modal-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: none;

    .reservation-btn {
      width: 250px;
    }
  }
}
