.btn-wrapper {
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;

  .x-btn {
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0px;
    background-color: rgba(100, 100, 100, 0.5);
    box-shadow: transparent 0px 0px 0px 1px inset;
    width: 20%;
    font-weight: 700;
    font-size: 16px;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  .check-btn {
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0px;
    background-color: rgba(87, 173, 88, 0.98);
    box-shadow: transparent 0px 0px 0px 1px inset;
    font-weight: 700;
    font-size: 16px;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
