<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- camelCase snake_case의 자동 변환 설정 -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  <typeAliases>
    <typeAlias type="org.nmfw.foodietree.domain.customer.dto.resp.CustomerMyPageDto" alias="CustomerMyPageDto"/>
    <typeAlias type="org.nmfw.foodietree.domain.reservation.dto.resp.ReservationDetailDto" alias="ReservationDetail"/>
    <typeAlias type="org.nmfw.foodietree.domain.customer.entity.CustomerIssues" alias="CustomerIssues"/>
    <typeAlias type="org.nmfw.foodietree.domain.customer.dto.resp.CustomerFavStoreDto" alias="CustomerFavStoreDto"/>
    <typeAlias type="org.nmfw.foodietree.domain.customer.dto.resp.PreferredFoodDto" alias="PreferredFoodDto"/>
    <typeAlias type="org.nmfw.foodietree.domain.store.entity.Store" alias="store"/>
    <typeAlias type="org.nmfw.foodietree.domain.product.entity.Product" alias="product"/>
    <typeAlias type="org.nmfw.foodietree.domain.customer.entity.Customer" alias="customer"/>
    <typeAlias type="org.nmfw.foodietree.domain.auth.dto.EmailCodeDto" alias="EmailCodeDto"/>
    <typeAlias type="org.nmfw.foodietree.domain.store.dto.resp.StoreMyPageDto" alias="StoreMyPageDto"/>
    <typeAlias type="org.nmfw.foodietree.domain.reservation.dto.resp.ReservationStatusDto" alias="ReservationStatusDto"/>
    <typeAlias type="org.nmfw.foodietree.domain.reservation.dto.resp.ReservationModalDetailDto" alias="ReservationModalDetailDto"/>
    <typeAlias type="org.nmfw.foodietree.domain.store.dto.resp.StoreReservationDto" alias="StoreReservationDto"/>
    <typeAlias type="org.nmfw.foodietree.domain.store.dto.resp.StoreMyPageCalendarModalDto" alias="StoreMyPageCalendarModalDto"/>
    <typeAlias type="org.nmfw.foodietree.domain.store.dto.resp.StoreCheckDto" alias="StoreCheckDto"/>
    <typeAlias type="org.nmfw.foodietree.domain.store.dto.resp.StoreHolidayDto" alias="StoreHolidayDto"/>
    <typeAlias type="org.nmfw.foodietree.domain.product.dto.response.ProductInfoDto" alias="ProductInfoDto"/>
  </typeAliases>
  <mappers>
    <mapper resource="mappers/CustomerMapper.xml" />
    <mapper resource="mappers/StoreMapper.xml" />
    <mapper resource="mappers/StoreApprovalMapper.xml" />
    <mapper resource="mappers/ProductApprovalMapper.xml" />
    <mapper resource="mappers/LoginIdCheckMapper.xml"/>
    <mapper resource="mappers/ProductMapper.xml"/>
    <mapper resource="mappers/CustomerMyPageMapper.xml"/>
    <mapper resource="mappers/EmailMapper.xml"/>
    <mapper resource="mappers/StoreMyPageMapper.xml"/>
    <mapper resource="mappers/ReservationMapper.xml"/>
    <mapper resource="mappers/StoreMyPageEditMapper.xml"/>
  </mappers>

</configuration>