
.edit {
  width: 70%;
  padding: 10px;

  .edit-box {
    padding: 15px;
  }

  .title {
    position: relative;
    display: block;
    border-radius: 15px 15px 0 0;
    margin-top: 20px;

    .title-text {
      height: 65px;
      font-size: 19px;
      font-weight: 700;
      line-height: 20px;
      color: #1d1d1d;
      background: linear-gradient(135deg, #f6f9f4, #e4f3da);
      border-radius: 15px 15px 0 0;
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      span{
        margin-top: 10px;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

.edit-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(204, 204, 204, 0.83);
  border-top: none;
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, .08);
  background-color: #fff;
  box-sizing: border-box;
  .preferred {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      span {
        margin-top: 10px;
      }
      .xmark {
        position: absolute;
        top: -18px;
        right: -18px;
        font-size: 25px;
        color: #ee7676;
        cursor: pointer;
      }
    }
  }
}

.input-area {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 0 30px 0;
  .input-wrapper {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
    .icon {
      margin-right: 10px;
    }
  }
}

.image-wrapper {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: white 0 0 0 2px;
  transform: translateZ(0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(29, 29, 29, 0.7);
  box-shadow: rgba(38, 37, 37, 0.58) 2px 5px 10px 18px;
  border-radius: 50%;
  font-size: 30px;
}

.edit-wrapper {
  padding: 20px;
  border-radius: 0 0 12px 12px;
  box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, .08);
  border: solid 1px #e3e9ed;
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.img-box {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: white 0 0 0 2px;
  transform: translateZ(0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.5s;
  }
}

@media (max-width: 400px) {
  .edit {
    width: 100%;
    .edit-wrapper {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  .img-box {
    width: 80px;
    height: 80px;
  }
}