.input-box {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      outline: none;
      border: none;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
    button {
      border: none;
      background: white;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }
  }
}