.list {
  margin: 0 auto;
  position: relative;
  inline-size: 70%;
  border-top: solid 1px #e7e7e7;
}

.storeList {
  display: block;
  padding: 20px 20px 0 20px;
  height: 42px;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  &.empty {
    text-align: center;
  }
}

.categoryContainer {
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%;
  gap: 20px;
  cursor: pointer;
}

.categoryItem {
  flex-basis: calc(20% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  height: 250px;
  
  // 수량 0일 때 회색처리
  position: relative;
  overflow: hidden;  

  .categoryImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    border: 1px solid #cecece;
    transition: opacity 0.3s ease; 
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    opacity: 0; 
    transition: opacity 0.3s ease;  
  }


  &.low-stock {
    .overlay {
      opacity: 1;
    }

    .categoryImage {
      opacity: 0.5; 
    }
  }

// 찜 기능 하트 아이콘
.heartIcon {
  font-size: 18px;
  color: rgb(152, 152, 152);
  position: absolute;
  right: 10px;
  bottom: 80px;
  z-index: 1;
  transition: transform 0.3s ease, color 0.3s ease; 

  // 마우스를 올렸을 때
  &:hover {
    transform: scale(1.2); 
    color: rgb(255, 0, 100);
  }

  // 클릭했을 때
  &.favorited {
    color: rgb(255, 71, 114);
  }
}

// 클릭된 상태에서 마우스 올렸을 때
.heartIcon.favorited:hover {
  transform: scale(1.1); 
  color: rgb(255, 0, 100);
}

  p {
    height: 15%;
    display: flex;
    align-items: center;
    padding: 20px 0 10px 10px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    font-size: 20px;
  }

  .storePrice {
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    left: 10px;
  }

  .productCnt {
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
}

@media (max-width: 400px) {
  .list {
    margin: 0 20px;
    width: 90%;
  }

  .categoryItem {
    flex: 1 1 100%;
  }
}
