header .logo {
  font-size: 24px;
  font-weight: bold;
}

header .logo-img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header h1 {
  font-size: 1.5em;
}

header h1 span {
  font-size: 0.8em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header .logo-img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .container .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .wrapper .signin {
  margin-right: 20px;
}

header .signup,
.signin {
  background-color: white;
  color: var(--header-font-color);
  padding: 10px 20px;
  border: var(--header-font-color) 1px solid;
  cursor: pointer;
}

footer .container {
  margin: 130px auto 80px;
  text-align: center;
}

.form-group .image-upload {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px dashed #4caf50;
  border-radius: 10px;
  text-align: center;
  color: #aaa;
  font-size: 1.2em;
  position: relative;
  cursor: pointer;
}

.form-group .image-upload input[type="file"] {
  display: none;
}

.form-group .image-upload label {
  cursor: pointer;
  color: #4caf50;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-preview {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}

#image-preview img {
  max-width: 150px;
  max-height: 150px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.registration {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
}

.registration h2 {
  font-weight: bolder;
  font-size: larger;
  margin-top: 30px;
  margin-bottom: 60px;
}

.form-group {
  margin-bottom: 31px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group #price{
  width: 100%;
}



.btn-approval {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
  position: relative;
  left: 25%;
  margin-bottom: 100px;
}
.btn-approval:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}
.btn-approval:active {
  position: relative;
  top: 1px;
}
