/* customer common style */

.title {
    position: relative;
    display: block;
    /*padding: 15px 38px 13px 18px;*/
    padding: 15px;
    border-radius: 15px;
    /*border: 1px solid #e3e9ed;*/
    margin: 20px 0;
}

.title .title-text {
    height: 65px;
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    color: #1d1d1d;
    background: linear-gradient(135deg, #f6f9f4, #e4f3da);
    border-radius: 15px 15px 0 0;
    padding: 10px 15px;
    display: flex;
}

.title .title-text span{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.info-wrapper {
    padding: 10px;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, .08);
    border: solid 1px #e3e9ed;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.img-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: white 0 0 0 2px;
    transform: translateZ(0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.5s;
}

/* customer common style  END */


.my-page-area .container {
    width: 80%;
    margin: 0 auto;
    /*border: solid 2px #d4f593;*/
    /*border-radius: 15px;*/
}

.margarine-regular {
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 30px; 
  }

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .logo-img {
    width: 70px;
    height: 70px;
}

header .logo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-page-area .container {
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
}

.my-page-area .container .profile, .info {
    padding: 10px;
}

.my-page-area .container .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: none;
    width: 30%;
}

.my-page-area .container .profile #avatar {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: white 0 0 0 2px;
    transform: translateZ(0);
    margin-top: 50px;
}

.my-page-area .container .profile #avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.5s;
}

.my-page-area .container .profile #avatar img:hover {
    transform: scale(1.1);
}

.my-page-area .container .profile h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    position: absolute;
    top: 330px;
}

.my-page-area .container .profile p {
    font-size: 16px;
    margin-top: 10px;
    position: absolute;
    top: 390px;
}

.my-page-area .container .profile ul {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    /*flex-direction: column;*/
    width: 100%;
    justify-content: center;
}

.my-page-area .container .profile ul li {
    width: 200px;
    margin: 5px 0;
    opacity: .9;
    position: absolute;
    top: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.my-page-area .container .profile ul li.nav-item .mypage {
    position: absolute;
    top: 50px;
}

.my-page-area .container .profile ul li.nav-item .edit {
    position: absolute;
    top: 90px;
}

/*.my-page-area .container .profile ul li.nav-item:hover {*/
/*    color: rgba(8, 10, 8, 1);*/
/*    !*background-color: rgb(223, 233, 241, 0.64);*!*/
/*    background: linear-gradient(135deg, #d1e8d1, #bbd5b2);*/
/*}*/

.my-page-area .container .profile ul li.nav-item a.nav-link {
    width: inherit;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: .75rem;
    font-weight: 600;
}
.my-page-area .container .profile ul li.nav-item .nav-link:hover {
    color: rgba(8, 10, 8, 1);
    /*background-color: rgb(223, 233, 241, 0.64);*/
    background: linear-gradient(135deg, #e0eee0, #dff3d8);
}
@media (hover: hover) {
    .nav-link {
        transition: background-color .3s ease-in-out;
    }
}

.my-page-area .container .info {
    width: 70%;
}

.my-page-area .container .info ul {
    display: flex;
}

.my-page-area .container .info ul li {
    /*border: 1px solid #ccc;*/
    padding: 10px;
    margin: 5px;
    width: 35%;
}

.my-page-area .container .info ul.info-list li .img-box {
    border-radius: 5px;
}

/* ===========================================   예약 내역     */

.my-page-area .container .info .info-wrapper.reservation {
    border-radius: 0 0 15px 15px;
    height: 260px;
    overflow: scroll;
}

.my-page-area .container .info .reservation-list {
    border-radius: 15px;
    flex-wrap: wrap;
    height: 72px;
    /*width: 90%;*/
    margin: 0 7px 10px 7px;
}

.my-page-area .container .info .reservation-list > li:last-child{
    margin-bottom: 15px;
}

.my-page-area .container .info .reservation-list li:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.my-page-area .container .info .reservation-item, .issue-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
}

.my-page-area .container .info .reservation-item .item {
    width: 230px;
    display: flex;
    align-items: center;
}

.my-page-area .container .info .reservation-item .item span {
    margin-left: 10px;
    width: 190px;
}

/* 예약 상태 아이콘 */
.my-page-area .container .info .reservation-item .img-wrapper {
    position: relative;
}

.my-page-area .container .info .reservation-item .item i {
    position: absolute;
    right: -5px;
    bottom: 0;
}

.my-page-area .container .info .reservation-item .item i.canceled {
    color: red;
}

.my-page-area .container .info .reservation-item .item i.done {
    color: green;
}

.my-page-area .container .info .reservation-item .item i.loading {
    color: blue;
    animation: spin 3s linear infinite;
}

/* spinner animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.my-page-area .container .info .reservation-item .img-box {
    width: 50px;
    height: 50px;
}

.info-box .info-wrapper ul.info-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.info-box .info-wrapper ul.info-list li span {
    margin-top: 10px;
}

.my-page-area .container .info-box .info-wrapper ul.issue-list {
    flex-direction: column;
}

.my-page-area .container .info-box .info-wrapper ul li.issue-item {
    width: 100%;
}

.my-page-area .container .stats {
    height: 200px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: column;
    position: absolute;
    top: 550px;
}

/*.my-page-area .container .stats div {*/
/*    border: 2px solid #d4f593;*/
/*    border-radius: 15px;*/
/*    padding: 20px;*/
/*    width: 100%;*/
/*    margin-bottom: 10px;*/
/*    text-align: center;*/
/*}*/
.my-page-area .container .stats div {
    /*background: #fff;*/
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 15px;
}

.my-page-area .container .stats div:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    font-size: 19px;
}

.my-page-area .container .stats div div {
    font-size: 16px;
    /*box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);*/
    background: linear-gradient(135deg, #fdfcfc, #f1f8ee);
    /*border: 2px solid #d4f593;*/
    margin-top: 10px;
}

#product-update-btn{
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(246, 160, 129, 0.73), rgba(243, 101, 33, 0.73));
    /* Gradient background */
    color: white;
    /* White text color */
    font-family: "NIXGONM-Vb", sans-serif;
    /* Stylish and legible font */
    font-weight: bold;
    font-size: 16px;
    /* Large font size */
    border: none;
    /* No border */
    border-radius: 30px;
    /* Rounded corners */
    padding: 12px 23px;
    margin-left: 30px;
    /* Large padding */
    cursor: pointer;
    /* Cursor on hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* Subtle shadow */
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
    /* Smooth transition */
}

/* Hover animation */
#product-update-btn:hover {
    background: linear-gradient(to bottom, #80b155, #336a29);

    /*background: linear-gradient(to bottom, #2c2f63, #5b67b7);*/
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
}

/* Click animation */
#product-update-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Shimmer animation */
@keyframes button-shimmer {
    0% {
        background-position: left top;
    }

    100% {
        background-position: right bottom;
    }
}

/* Particle animation */
@keyframes button-particles {
    0% {
        background-position: left top;
    }

    100% {
        background-position: right bottom;
    }
}

#product-count-status-with-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 18px;
}

#product-count-status-with-img .status-img{
    width: 180px;
    height: 170px;
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*margin-bottom: 20px;*/
}

#product-count-status-with-img .status-img:hover{
    /*transform: translateY(-2px);*/
    border: 1px solid rgba(42, 111, 43, 0.63);
    border-radius: 15px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
}

#product-count-status-with-img .status-img img{
    margin-bottom: 15px;
    /*margin-top: 15px;*/
}

#product-count .title>div{
    border: 1px solid rgba(204, 204, 204, 0.83);
    border-top: none;
    border-radius: 0 0 15px 15px;
    box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, .08);
}

.info-wrapper.reservation .reservation-list .item.reservation-status{
    margin-left: 20px;
    width: 62%;
    display: flex;
    justify-content: space-between;
}

.my-page-area .container .info .reservation-item .item .reservation-nickname span{
    font-size: 13px;
    position: relative;
    left: -7px;
}

button.calendar-button {
    color: #090909;
    padding: 0.5em 1.3em;
    font-size: 14px;
    border-radius: 0.5em;
    background: rgba(230, 234, 220, 0.84);
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 3px 3px 7px #c5c5c5, -3px -3px 7px #ffffff;
}

button.calendar-button#store-holiday-btn{
    background-color: rgba(234, 97, 42, 0.7);
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 20px;
}
button.calendar-button#undo-holiday-btn{
    font-size: 20px;
    color:#FFFFFF;
    /*background: rgb(186, 196, 163);*/
    background-color: rgba(55, 112, 49, 0.5); /* Example circle color */
    margin-top: 20px;
}

button.calendar-button:active {
    color: #666;
    box-shadow: inset 4px 4px 3px #c5c5c5, inset -4px -4px 3px #ffffff;
}

#calendar-header .title .calendar-month{
    font-size: 19px;
    font-weight: bold;
    /*padding: 30px 0 50px 350px;*/
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
}

#calendar-header .title .calendar-month #current-month{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
}

#calendar-section #today-description{
    font-size: 16px;
    position: absolute;
    top: 112px;
    right: 136px;
    background-color: rgba(55, 112, 49, 0.58);
    border-radius: 13px;
    padding: 10px;
    color: white;
}
#calendar-section #holiday-description{
    font-size: 16px;
    position: absolute;
    top: 153px;
    right: 84px;
    background-color: rgba(234, 97, 42, 0.5);
    border-radius: 15px;
    padding: 10px;
    color: white;
}

#calendar-section{
    background-color: rgba(246, 250, 245, 0.71);
    /*border: 1px solid #ccc;*/
    border-radius: 0 0 15px 15px;
}

#calendar-header #calendar-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, .08);
}

#calendar-header #calendar{
    margin-right: 92px;
}


#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 600px;
    padding-bottom: 30px;
}

#calendar div {
    padding: 20px;
    background-color: #e6eadc;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
}

#calendar div:not(.calendar-header, .calendar-day-empty):hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#events {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #ddd;
}