.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header .logo-img {
  width: 70px;
  height: 70px;
}

header .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-page-area .container {
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
}

.my-page-area .container .profile, .info {
  /*border: 1px solid #ccc;*/
  padding: 10px;
}

.my-page-area .container .profile {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 0 17px;
  /*border-radius: 12px 0px 0 12px;*/
  /*box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, .08);*/
  /*border: solid 1px #e3e9ed;*/
  background-color: #fff;
  box-sizing: border-box;
  /*margin-right: 20px;*/
}
.my-page-area .container .profile h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.my-page-area .container .profile p {
  margin-top: 10px;
}

.my-page-area .container .profile ul {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.my-page-area .container .profile ul li {
  margin: 5px 0;
  opacity: .9;
  /*width: inherit;*/
}
.my-page-area .container .profile .nav{
  font-size: 21px;
  text-align: center;
  width: 335px;
  margin-right: 10px;
}
.my-page-area .container .profile ul li.nav-item a.nav-link {
  width: 335px;
  padding-top: .6rem;
  padding-bottom: .6rem;
  border-radius: .75rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
}

.my-page-area .container .profile ul li.nav-item a.nav-link:hover {
  background-color: rgb(224, 238, 224);
}

@media (hover: hover) {
  .nav-link {
    transition: background-color .3s ease-in-out;
  }

  img {
    transition: transform .3s ease-in-out;
  }
}

.edit {
  width: 70%;
  padding: 10px;
}

.edit-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(204, 204, 204, 0.83);
  border-top: none;
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, .08);
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.title {
  position: relative;
  display: block;
  border-radius: 15px 15px 0 0;
  margin-top: 20px;
}

.title .title-text {
  height: 65px;
  font-size: 19px;
  font-weight: 700;
  line-height: 20px;
  color: #1d1d1d;
  background: linear-gradient(135deg, #f6f9f4, #e4f3da);
  border-radius: 15px 15px 0 0;
  padding: 10px 15px;
  display: flex;
}

.title .title-text span{
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.edit-wrapper {
  padding: 20px;
  border-radius: 0 0 12px 12px;
  box-shadow: 1px 1px 10px 0 rgba(72, 75, 108, .08);
  border: solid 1px #e3e9ed;
  background-color: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;
}


/* input wrapper */
.input-wrapper {
  display: flex;
  margin-top: 10px;
}

.input-wrapper .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}

/* input style */
.input-wrapper input, .btn {
  width: 200px;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.image-wrapper {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.image-wrapper button {
  position: absolute;
  width: 50%;
  bottom: 0;
}

#avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: white 0 0 0 2px;
  transform: translateZ(0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#avatar i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(29, 29, 29, 0.7);
  box-shadow: rgba(38, 37, 37, 0.58) 2px 5px 10px 18px;
  border-radius: 50%;
  font-size: 30px;
}

#avatar.before {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  z-index: 1;
}

#avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  margin-top: 10px;
}

.edit-wrapper .preferred {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.edit-wrapper .preferred .img-box {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: white 0 0 0 2px;
  transform: translateZ(0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.edit-wrapper .preferred .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*.edit-wrapper .preferred .img-box img:hover {*/
/*  transform: scale(1.1);*/
/*}*/

.edit-wrapper .preferred li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.edit-wrapper .preferred li span {
  margin-top: 10px;
}

.edit-wrapper .preferred li i {
  position: absolute;
  top: -18px;
  right: -18px;
  font-size: 25px;
  color: red;
  cursor: pointer;
}

.my-page-area .container .info {
  width: 70%;
}

.my-page-area .container .info h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px 0 0;
}

.my-page-area .container .info .reservation-list, .issue-list {
  margin-top: 20px;
}

.my-page-area .container .reservation-item, .issue-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
}

/* 선호 지역 */
.my-page-area .container .info h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
}

.my-page-area .container .info ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 18px;
  padding: 10px;
  /* flex-direction: column; */
  width: 100%;
  justify-content: center;
}

.my-page-area .container .info ul li {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  width: 35%;
}

.my-page-area .container .stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 200px;
  font-size: 18px;
  flex-direction: column;
}

.my-page-area .container .stats div {
  /*border: 1px solid #ccc;*/
  padding: 20px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 15px;
  margin-top: 20px;
}

.my-page-area .container .stats div:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
  font-size: 19px;
}

.my-page-area .container .stats div div {
  font-size: 16px;
  /*box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);*/
  background: linear-gradient(135deg, #fdfcfc, #f1f8ee);
  /*border: 2px solid #d4f593;*/
  margin-top: 10px;
}

.hidden {
  display: none;
}

.edit-wrapper .input-area{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 0 30px 0;
}

.edit-wrapper .input-area .input-wrapper{
  font-size: 18px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.edit-wrapper .input-area .input-wrapper .icon{
  margin-right: 10px;
}
