.edit .edit-box{
    padding: 15px;
}

button.calendar-button {
    color: rgba(9, 9, 9, 0.79);
    padding: 0.5em 1.3em;
    font-size: 17px;
    border-radius: 0.5em;
    background: rgba(230, 234, 220, .6);
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 3px 3px 7px #c5c5c5, -3px -3px 7px #ffffff;
}


button.calendar-button:active {
    color: #666;
    box-shadow: inset 4px 4px 3px #c5c5c5, inset -4px -4px 3px #ffffff;
}

#product-count-move{
    position: relative;
    left: 15px;
}

#special-box-price-move{
    position: relative;
    left: 15px;
}

#special-box-price-des{
    position: relative;
    bottom: -9px;
}

#special-box-price-move #price{
    font-size: 17px;
    width: 150px;
    height: 35px;
}

#store-phone-number-move{
    position: relative;
    left: 6px;
}

#store-name-mypage-edit{
    font-family: 'Jua', sans-serif;
    font-size: 22px;
    position: relative;
    left: 78px;
}
#store-id-mypage-edit{
    /*font-family: 'Jua', sans-serif;*/
    /*font-size: 22px;*/
    position: relative;
    left: 78px;
}

#store-mypage-image-edit.image-wrapper{
    margin-top: 96px;
    margin-right: 81px;
}

#store-mypage-image-edit.image-wrapper #profile_btn{
    margin-bottom: 244px;
}

.calendar-button#profile_btn{
    font-size: 18px;
    width: 133px;
    height: 45px;
}


button.yellow-click {
    border-radius: 8px;
    height: 40px;
    border: none;
    background: #ffcc00;
    /* Changed color to yellow */
    color: #333;
    /* Changed text color to dark gray */
    padding: 15px;
    box-shadow: 0 0.7065919983928324px 0.7065919983928324px -0.625px #00000026,
    0 1.8065619053231785px 1.8065619053231785px -1.25px #00000025,
    0 3.6217592146567767px 3.6217592146567767px -1.875px #00000023,
    0 6.8655999097303715px 6.8655999097303715px -2.5px #00000020,
    0 13.646761411524492px 13.646761411524492px -3.125px #0000001b,
    0 30px 30px -3.75px #0000000d;
    font-weight: bold;
    font-family: Montserrat;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 150ms ease-in-out;
}

button.yellow-click:active {
    scale: 0.95;
    background: #333;
    /* Changed background color to dark gray */
    color: #ffcc00;
    /* Changed text color to yellow */
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0.637473px 1.14745px -1.125px,
    rgba(0, 0, 0, 0.24) 0px 1.93094px 3.4757px -2.25px,
    rgba(0, 0, 0, 0.192) 0px 5.10423px 9.18761px -3.375px,
    rgba(0, 0, 0, 0.03) 0px 16px 28.8px -4.5px;
}


