.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;

  .plus-mark {
    font-size: 25px;
    color: #0d0d0d;
    cursor: pointer;
  }
}
