/* Footer 스타일 */
.footer {
    display: flex;
    justify-content: space-between; /* 양 끝으로 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    padding: 0 130px; /* 좌우 패딩 */
    height: 1080px; /* 푸터 높이 */
    width: 1920px;
    background-color: #F5F5DD;
    position: relative; /* 자식 요소의 위치 조정을 위해 relative로 설정 */
}

/* 이미지 슬라이더 */
.pictureDiv {
    position: relative;
    width: 1200px;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 230px;
}

.footerImage {
    width: 100%; /* 이미지를 div의 너비에 맞춤 */
    height: 100%; /* 이미지를 div의 높이에 맞춤 */
    object-fit: cover; /* 이미지 비율을 유지하며 div에 맞게 확대 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 이미지가 중앙에 오도록 설정 */
    transition: opacity 1s ease-in-out; /* 전환 효과 */
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

/* 이메일 및 복사 성공 메시지 */
.emailTitle {
    color: #06654E;
    font-size: 24px;
    position: absolute;
    bottom: 290px;
}

.email {
    color: #06654E;
    font-size: 18px;
    position: absolute;
    bottom: 273px;
    left: 300px;
    transform: translate(30%);
    transition: 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
        font-size: 40px;
        border-bottom: 1px solid #06654E;
    }
}

.copySuccess {
    font-size: 18px;
    position: absolute;
    bottom: 250px;
    left: 300px;
    color: green;
}

/* 저작권 및 링크 */
.copyRight {
    color: #06654E;
    font-size: 24px;
    position: absolute;
    bottom: -35px;
    right: 100px;
}

.footerLinks {
    color: #06654E;
    position: absolute; /* 위치 고정 */
    top: 120px;
    right: 30px; /* 푸터 오른쪽 끝에서 30px 떨어져 위치 */
    display: flex;
    flex-direction: column; /* 링크들을 세로로 나열 */
    align-items: flex-end;
    margin-right: 70px;

    a {
        color: #06654E;
        cursor: pointer;
        margin-bottom: 5px; /* 링크 간 간격 설정 */
        text-decoration: none; /* 기본 밑줄 제거 */
        font-size: 24px;
        transition: 0.2s ease-in-out;
    }

    a:hover {
        transform: translate(2%, 2%);
        font-size: 28px;
        border-bottom: 1px solid #06654E;
    }
}

/* 로고 */
.logoDiv {

    color: #06654E;
    font-family: "Archivo Narrow", sans-serif;
    font-weight: 1000;
    font-style: normal;

    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 250px;
    width: 1700px;
    margin-bottom: -80px;
    letter-spacing: 16px;
}