/* 공통 버튼 스타일 */
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}

/* 헤더 스타일 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    background-color: #F5F5DD;
    flex-wrap: wrap; /* 반응형 정렬을 위해 추가 */
}

/* 햄버거 버튼 */
.sidebar-btn {
    display: flex;
    align-items: center;
    height: 60px;
    width: 60px;
    color: #06654E;
}

.fa-bars {
    font-size: 25px;
}

/* 로고 버튼 */
.logoBtn img {
    height: 50px;  /* 로고 크기 조정 */
    width: 50px;   /* 로고 크기 조정 */
}

/* 현재 위치 버튼 스타일 */
.location-pin-icon img {
    height: 30px;
    width: 30px;
    margin-left: 20px;

}

/* 텍스트 영역 */
.area-name {
    font-size: 16px;
    margin-left: 5px;
    color: #06654E;
}

/* 선택된 카테고리 및 버튼 */
.selected-area-category {
    font-size: 16px;
    margin-left: 10px;
    color: #06654E;
}

.selected-area-category-btn img {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-top: 10px;
}

/* 검색창 스타일 */
.search-store-section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    background-color: rgba(6, 101, 78, 0.3);
    border-radius: 50px;
    height: 40px;
    position: relative;
    margin: 0 auto; /* 가운데 정렬 */
    transition: background-color 0.3s ease;
}

.search-store-section input {
    width: 100%;
    border-radius: 5px;
    background: none;
    border: none;
    margin-left: 10px;
    outline: none; /* 포커스 시 보더 제거 */
}
.magnify-click-btn {
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: #06654E;
    margin-left: 5px;
}

.magnify-icon {
    font-size: 18px;
}

.review-main-btn img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.review-main-btn img:hover {
    width: 35px;
    height: 35px;
    transition: 0.3s ease-in-out;
}

/* 로그인 및 회원가입 버튼 */
.login-btn-section {
    display: flex;
    gap: 10px;
}

.sign-in-btn, .sign-up-btn {
    font-size: 16px;
    color: #06654E;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.sign-in-btn:hover, .sign-up-btn:hover {
    transform: translate(-10%, -10%);
    border-bottom: 1px solid #06654e;
}

.main-page-btn {
    font-size: 18px;
    color: #06654E;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.main-page-btn:hover {
    font-size: 20px;
    color: #06654E;
    transition: 0.3s ease-in-out;
    border-bottom: solid #06654E;
    cursor: pointer;
}

/* 점 스타일 */
.dot {
    margin-top: 5px;
    margin-left: 10px;
}

/* 모달 스타일 */
.sidebar-modal {
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    z-index: 1000;
}