/* 모달 스타일 */
.modal {
    display: none; /* 모달 숨기기 */
    position: fixed; /* 고정 위치 */
    z-index: 1; /* 다른 요소들 위에 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    overflow: auto; /* 스크롤 가능 */
    background-color: rgb(0,0,0); /* 검정 배경 */
    background-color: rgba(0,0,0,0.4); /* 불투명한 배경 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 화면 가운데 배치 */
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* 너비 조절 */
    border-radius: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.reservation-item.canceled{
    border: solid 2px #E68a8c;
    border-radius: 15px;
}

.reservation-list .reservation-item.reserved{
    border: solid 2px #89b449;
    border-radius: 15px;

}

.reservation-list .reservation-item.pickedup{
    border: solid 2px #407f3e;
    border-radius: 15px;

}

.reservation-list .reservation-item.noshow{
    border: solid 2px gray;
    border-radius: 15px;
}


#reservation-modal #modal-store-reservation-details .reservation-detail-item{
    padding: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 2;
}

#reservation-modal #reservation-detail-item #modal-detail{
    padding: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 2;
}
#reservation-modal #modal-store-reservation-details .reservation-detail-item img{
    padding: 20px;
}

#reservation-modal #modal-store-reservation-details .reservation-detail-item .caution{
    color: #f16d6d;
    font-weight: 700;
    font-size: 22px;
}

#reservation-modal #modal-store-reservation-details .reservation-detail-item .pickup-nickname span{
    font-family: 'Jua', 'NIXGONM-Vb', 'sans-serif';
    font-size: 25px;
}

#reservation-modal #modal-store-reservation-details .reservation-detail-item .pickup-nickname{
    margin: 30px;
}

#store-calendar-modal #modal-schedule-details{
    text-align: center;
    line-height: 2;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 25px;
}

#store-calendar-modal #modal-schedule-details .today-date{
    font-family: 'Jua', 'NIXGONM-Vb', 'sans-serif';
    font-size: 24px;
}






