.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
  height: 1080px;
  width: 100%; /* 너비를 100%로 설정 */
  max-width: 1920px; /* 최대 너비를 1920px로 제한 */
  background-color: #F5F5DD;
  position: relative;
  margin: 0 auto; /* 중앙 정렬 */
}

.pictureDiv {
  position: relative;
  width: 1200px;
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 230px;
}

.footerImage {
  width: 100%; /* 이미지를 div의 너비에 맞춤 */
  height: 100%; /* 이미지를 div의 높이에 맞춤 */
  object-fit: cover; /* 이미지 비율을 유지하며 div에 맞게 확대 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 이미지가 중앙에 오도록 설정 */
  transition: opacity 1s ease-in-out; /* 전환 효과 */
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.emailTitle {
  font-size: 24px;
  position: absolute;
  bottom: 290px;
}

.email {
  font-size: 18px;
  position: absolute;
  bottom: 273px;
  left: 300px;
  transform: translate(30%);
  transition: 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
    font-size: 40px;
    border-bottom: 1px solid #06654E;
  }
}

.copySuccess {
  font-size: 18px;
  position: absolute;
  bottom: 250px;
  left: 300px;
  color: green;
}

.copyRight {
  font-size: 24px;
  position: absolute;
  bottom: -35px;
  right: 100px;
}

.footerLinks {
  color: #06654E;
  position: absolute; /* 위치 고정 */
  top: 120px;
  right: 30px; /* 푸터 오른쪽 끝에서 30px 떨어져 위치 */
  display: flex;
  flex-direction: column; /* 링크들을 세로로 나열 */
  align-items: flex-end;
  margin-right: 70px;

  a {
    cursor: pointer;
    margin-bottom: 5px; /* 링크 간 간격 설정 */
    text-decoration: none; /* 기본 밑줄 제거 */
    font-size: 24px;
    transition: 0.2s ease-in-out;
  }

  a:hover {
    transform: translate(2%, 2%);
    font-size: 28px;
    border-bottom: 1px solid #06654E;
  }
}

.logoDiv {
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;

  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: 280px;
  width: 100%;
  max-width: 1920px;
  margin-bottom: -80px;
  letter-spacing: 15px;
  text-align: center;
}