
.logoutButton, .loginButton {
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 30px;
  border-radius: 50px;
}

/* 각각의 버튼에 대한 스타일을 따로 적용하려면 아래와 같이 개별적으로 지정 */
.logoutButton {
  background-color: #610e0e;
}

.loginButton {
  background-color: rgb(71, 122, 188);
}

